<div *ngIf="movies.length > 0; then movieList; else noMovies"></div>

<ng-template #movieList>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input
      matInput
      placeholder="Ex. Empire Strives Back"
      #movieFilter
      (keyup)="onKeyUp(movieFilter.value)"
    />
  </mat-form-field>
  <ul class="no-list-style">
    <li *ngFor="let movie of movies | movieFilter: filter">
      <app-movie-item [movie]="movie"></app-movie-item>
    </li>
  </ul>
</ng-template>
<ng-template #noMovies>No movies available</ng-template>
