<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>{{ title }}</span>
  <div class="spacer"></div>
  <a
    aria-label="List of Movies"
    target="_blank"
    rel="noopener"
    href=""
    title="List of Movies"
  >
    List
  </a>
  <a
    aria-label="Add Movie"
    target="_blank"
    rel="noopener"
    href=""
    title="Add Movie"
  >
    Add
  </a>
</div>

<div class="content" role="main">
  <input
    #movieFilter
    *ngIf="movies.length > 0"
    placeholder="Filter"
    (keyup)="onKeyUp(movieFilter.value)"
  />
  <button (click)="addMovie()">Add Movie</button>
  <app-movie-list [movies]="movies" [filter]="movieFilter"></app-movie-list>
</div>

<router-outlet></router-outlet>
