<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>{{ title }}</span>
  <div class="spacer"></div>
  <a
    aria-label="List of Movies"
    target="_blank"
    rel="noopener"
    href=""
    title="List of Movies"
  >
    List
  </a>
  <a
    aria-label="Add Movie"
    target="_blank"
    rel="noopener"
    href=""
    title="Add Movie"
  >
    Add
  </a>
</div>

<div class="content" role="main">
  <mat-form-field *ngIf="movies.length > 0">
    <mat-label>Filter</mat-label>
    <input
      matInput
      placeholder="Ex. Empire Strives Back"
      #movieFilter
      (keyup)="onKeyUp(movieFilter.value)"
    />
  </mat-form-field>
  <app-movie-list [movies]="movies" [filter]="movieFilter"></app-movie-list>
</div>

<router-outlet></router-outlet>
