<h1 mat-dialog-title>Rate this movie</h1>
<div mat-dialog-content>
  Please rate <b>{{ data.title }}</b>
</div>
<div mat-dialog-actions>
  <mat-button-toggle-group name="rating" aria-label="Rating Movie">
    <mat-button-toggle [mat-dialog-close]="1">1</mat-button-toggle>
    <mat-button-toggle [mat-dialog-close]="2">2</mat-button-toggle>
    <mat-button-toggle [mat-dialog-close]="3">3</mat-button-toggle>
    <mat-button-toggle [mat-dialog-close]="4">4</mat-button-toggle>
    <mat-button-toggle [mat-dialog-close]="5">5</mat-button-toggle>
    <mat-button-toggle [mat-dialog-close]="6">6</mat-button-toggle>
    <mat-button-toggle [mat-dialog-close]="7">7</mat-button-toggle>
    <mat-button-toggle [mat-dialog-close]="8">8</mat-button-toggle>
    <mat-button-toggle [mat-dialog-close]="9">9</mat-button-toggle>
    <mat-button-toggle [mat-dialog-close]="10">10</mat-button-toggle>
  </mat-button-toggle-group>
</div>
